.top-bar, .top-bar ul {
  background-color: $nav-background;
}

.top-bar {
  .menu-text {
    color: $menu-text;
  }
  .menu-text > a {
    display: inline;
    padding: .2rem;
  }
  .active-link {
    font-weight: bold;
  }
}
